.submit{
    margin-left: 74px;
}
table {
    border: 1px solid black;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }